DirectoryIndex index.html
Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine On

# Force HTTPS when SSL certificate is active on hosting.
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP:X-Forwarded-Proto} !https [NC]
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^$ index.html [L]
</IfModule>
